<p id="notice"><%= notice %></p>

<div class="panel panel-default">

<div class="panel-heading"><h1 class="w3-panel w3-blue" >User's Quote </h1></div>

<div class="panel-body">


<p>
  <strong>Name:</strong>
  <%= @quote.name %>
</p>


<p>
  <strong>Content:</strong>
  <%= @quote.content %>
</p>


</div>

<div class="panel-footer">

<%= link_to 'Edit', edit_quote_path(@quote) ,class:"w3-button w3-green w3-round-xlarge" %> |
<%= link_to 'Back', quotes_path , class:"w3-button w3-green w3-round-xlarge" %>

</div></div>
